@model Portal.Presentation.MVC.Members.ViewModels.ProfileViewModel

<h2 class="name-header">@Model.Member.Name.FirstLastName.InEnglish</h2>
@if (Model.IsCurrent)
{
    <a asp-action="Edit" asp-route-username="@Model.Username" class="btn btn-lg glyphicon glyphicon-edit"></a>
}
<div>
    @if (!string.IsNullOrEmpty(Model.Member.About))
    {
        <h3>@L["About me"]:</h3>
        <h4>@Model.Member.About</h4>
    }

    <h3>@L["Information"]:</h3>

    <div>
        <div>@L["Email"]: <span>@Model.Member.Email</span></div>
        <div>
            @L["Phones"]:
            @foreach (var phone in Model.Member.Phones)
            {
                <div>@phone.NumberWithBracesAndDashes (@phone.Operator)</div>
            }
        </div>
        <div>
            @L["Roles"]:
            @foreach (var role in Model.Member.Roles)
            {
                <span>@role</span>
            }
        </div>
        <div>
            @L[" Links"]:
            @foreach (var contact in Model.Member.ContactLinks)
            {
                <a href="@contact.Value">@contact.Key</a>
            }
        </div>
    </div>
</div>