@model Portal.Presentation.MVC.Assets.ViewModels.AssetTypeViewModel

<form method="post">
    <div id="assetTypeName" class="form-group">
        <label asp-for="Name">Name: </label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" server-validation-for="Name" server-validation-errors="@Model.Errors" class="text-danger"></span>
    </div>
    <div id="assetTypeProperties" class="form-group">
        <label>Properties: </label>
        @if (Model.Properties.Count == 0)
        {
            <div>
                <div class="form-group">
                    <input class="form-control" />
                    <button type="button" class="btn btn-default removeProperty glyphicon glyphicon-remove"></button>
                </div>
            </div>
        }
        else
        {
            foreach (var property in Model.Properties)
            {
                <div>
                    <div class="form-group">
                        <input class="form-control" value="@property" />
                        <button type="button" class="btn btn-default removeProperty glyphicon glyphicon-remove"></button>
                        <span server-validation-for="@property" server-validation-errors="@Model.Errors" class="text-danger"></span>
                    </div>
                </div>
            }
        }

        <span asp-validation-for="Properties" server-validation-for="Properties" server-validation-errors="@Model.Errors"></span>
    </div>
    <button type="button" id="addPropertyButton" class="btn btn-default glyphicon glyphicon-plus"></button>
</form>